[Unit]
Description=Generate OpenVPN server keys
Before=openvpn.service openvpn-server@.service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/etc/easy-rsa/
ExecStart=/usr/local/bin/generate-server-keys

[Install]
WantedBy=multi-user.target
